body {
    background-color: black;
}

img {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border-top: 50px;
    border: 5px solid white;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Libre Baskerville, serif;
}

h3 {
    color:white;
    font-weight: normal;
    text-align: center;
    font-family: Libre Baskerville, serif;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color:white;
}